/* main pages*/

.main {
  &__img {
    max-height: 200px;
    width: auto;
  }

  &__button {
    @include flex();
    gap: 80px;
    margin-top: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
  }

  &__form {
    margin: 15px;
    border: 1px solid #07c;
    padding: 10px;
  }
}

.changed-data {
  margin: 15px;
  padding: 10px;
  border: 2px solid red;
  transition: border-color 0.5s ease;
}
